.video {
    max-width: 100%;
    height: auto;
}
.error {
    color:red;
}
#banner-img {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
}
.opt-menu {
    color: yellow;
    background-color: #dc3545!important
}

.opt-menu:hover {
    border-bottom: 2px solid yellow;
    /* https://stackoverflow.com/questions/25678533/adding-a-line-below-menu-items-on-hover */
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 0.2s;
}
.opt-menu:active {
    border-bottom: 2px solid yellow;
}

footer {
    background-color: red;
    color: white;
}

h3, label {
    color: purple;
}

.whiteText {
    color: white;
}

.login-submit {
    background-color: purple;
    color: white;
    font-size: 2em; 
    border-radius: 0.3em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/*
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/